body{
  margin: 0px;
}

h1{
  width:50%;
  text-align:center;
  margin:10px auto;
  text-shadow:2px 3px lightblue;
  border-radius:8px;
}

h2{
  text-shadow:2px 3px lightblue;
}


a{
  color:inherit;
  text-decoration:none;
  font-size:104%;
}

#nav-menu{
  display:flex;
  flex: 1 1 auto;
  justify-content:space-evenly;
  position: sticky;
  top:0px;
  background-color: rgba(40, 255, 250, 0.7)
}

.nav-div{
  display:inline-block;
  width: 19%;
  text-align: center;
  flex-grow: 1;
  border-left:1px black solid;
  border-right: 1px black solid;
  position:relative;
  top:0px;
}

.nav-div a {
  display: inline-block;
  width: 100% ;
}

.nav-div ul{
  display:none;
  position:absolute;
  background-color:rgba( 5, 210, 250);
  list-style-type: none;
  padding-left:0px;
  margin:0px;
  width:100%;
}

.nav-div:hover {
  background-color: lightgrey;
  font-weight:bold;
}

.nav-div:hover a {
  color: purple;
}

.nav-div:hover ul {
  display: block;
}

.nav-div ul a:hover {
  background-color:lightpink;
}

#content {
  margin: 0px 18%;
  background-color: rgba(210, 240, 210, 0.7);
  padding: 5px 10px 5px;
  margin-top: 15px;
    
}

#bg-img {
  position:fixed;
  top:0px;
  left:0px;
  z-index: -7;
  width:100vw;
}

#footer {
  background-color: teal;
  min-height:100px;
  display:flex;
  flex: 1 1 auto;
  justify-content:space-evenly;
}

#publish-info {
  float:left;
  margin:0px 5%;
  text-align:right;
}

#address{
  float:right;
  margin:0px 5%;
  text-align:left;
  
}

#picture-1{
  width:140px;
  
}

.pic-div{
  border:2px solid teal;
  margin: 5px;
  padding:4px;
  float:right;
  width:25%;
  height:30vh  ;
  text-align:center;
  
}
